@charset "UTF-8";

.top-header {
  width: max-content;
  height: 43px;
  margin: 0 auto;
  font-size: 14px;
}

.top-header-inner {
  width: 980px;
  margin: 0 auto;
  display:flex;
}

.top-header-logo {
  padding-top: 10px;
  width: 140px;
  margin-right: 545px;
}

.top-header-logo img {
  width: 140px;
}

.top-header-link {
  list-style: none;
  width: 300px;
  padding-top: 10px;
}

.top-header-link ul {
  margin: 0;
}

 /* 左縦線 */
 .top-header-link ul li::before{
  content: "";
  border-left: 1px solid #c4c4c4;
  padding-right: 7px;
}

.top-header-link ul li {
  display: inline-block;
  text-decoration: none;
}

.top-header-link img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  color: #929292;
}

.top-header-link a {
  text-decoration: none;
  color: #929292;
  font-weight: 700;
}