@charset "UTF-8";

#main-container {
  width: 980px;
  margin: 0 auto;
  padding-top: 20px;
}

#main-container .top-left-menu {
  display: inline-block;
  width: 220px;
  padding-left: 10px;
}

#main-container .top-left-menu h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 15px 10px 15px 0px;
}

#main-container hr.boder-solid {
  color: #E5E5E5;
}

#main-container .top-left-menu-box {
  margin: 0;
  padding: 0;
}

#main-container li.menu-wrap {
  display : -webkit-box;     /* old Android */
  display : -webkit-flex;    /* Safari etc. */
  display : -ms-flexbox;     /* IE10        */
  display: flex;
  list-style: none;
  height: 50px;
  align-items: center;
}

#main-container li.menu-wrap:hover {
  cursor: pointer;
  background-color: #F2F2F2;
}

#main-container hr.boder-solid {
  border: solid 1px #d3d3d3;
}

#main-container hr {
  border: dotted 1px #d3d3d3;
}

#main-container a {
  display : -webkit-box;     /* old Android */
  display : -webkit-flex;    /* Safari etc. */
  display : -ms-flexbox;     /* IE10        */
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #448ACB;
}

#main-container .menu-img-box {
  height: 30px;
  padding-right: 10px;
}

#main-container .menu-img-box img {
  width: 30px;
  height: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;

}

#main-container .menu-text-box {
  font-size: 14px;
}

#main-container .menu-text-box p {
  margin: 0;
}

.center-menu {
  display: inline-block;
  /* 上揃え */
  vertical-align: top;
  width: 420px;
  margin-left: 20px;
  background-color: bisque;
}

#app {
  width: 420px;
  height: 205px;
  background-color: #EEEEEE;
  border: 1px solid #E2E2E2;
}

#app .main-img-center-slider {
  padding: 10px 8px;
  width: 410px;
  height: 205px;
  /* 画像折り返ししない */
  white-space: nowrap;
  overflow: hidden;
}

#app .main-img-center-slider-inner {
  display: inline-block;
}

#app .main-img-center-slider-inner a {
  position: relative;
  width: 280px;
  height: 160px;
}

#app .main-img-center-slider-inner img {
  width: 280px;
  height: 160px;
  border-radius: 3px;
}

#app .main-img-center-slider-label {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 47px;
  padding-left: 8px;
  top: 113px;
  font-size: 12px;
  font-weight: 700;
  background: -webkit-linear-gradient(bottom,#000 0,rgba(31,31,31,0) 100%);
  background: linear-gradient(0deg,#000 0,rgba(31,31,31,0) 100%);
  border-radius: 3px;
}

#app .main-img-center-slider-label .collabo-label {
  display: inline-block;
  padding: 0 4px;
  background-color: #0F89FF;
  color: #FFFFFF;
  border-radius: 2px;
  width: 45px;
  height: 20px;
}

#app .main-img-center-slider-label .news-label {
  display: inline-block;
  padding: 0 4px;
  background-color: #FFC100;
  color: #FFFFFF;
  border-radius: 2px;
  width: 55px;
  height: 20px;
}

#app .main-img-center-slider-label .label-text {
  width: 270px;
  height: 25px;
  padding-top: 3px;
}

#app .main-img-center-slider-label .label-text span {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
}

#app .sab-label-box {
  display: inline-block;
  position: absolute;
  top: 160px;
  width: 280px;
  height: 25px;
  margin-top: 4px;
  font-size: 12px;
  color: #959595;
}

#app .sab-label-box span {
  color: #34b782;
  font-size: 12px;
  font-weight: 500;
}

.right-menu {
  display: inline-block;
  /* 上揃え */
  vertical-align: top;
  width: 285px;
  background-color: greenyellow;
}