@charset "UTF-8";
body {
  font-family: Hiragino Kaku Gothic Pro,"ヒラギノ角ゴ Pro W3",Meiryo,"メイリオ",Osaka,MS PGothic,arial,helvetica,sans-serif;
  margin: 0;
  border-top: solid 2px #34B792;
}

h1 {
  margin: 0;
}

hr {
  margin: 0;
  color: #D9D9D9;
  opacity:0.3;
}

* {
  box-sizing: border-box;
}

.top-main-outer {
  width: 100%;
  overflow: hidden;
}

.top-main-wrap {
  width: max-content;
  margin: 0 auto;
  font-size: 14px;
  position: relative;
}

.top-main {
  width: 980px;
  margin: 0 auto;
}

.top-main img {
  width: 980px;
  height: 150px;
}

.top-contents-img-left {
  position: absolute;
  left: -300px;
  top: 0px;
  width: 300px;
  height: 800px;
  background-image: url('../../img/main/background/left.png');
}

.top-contents-img-right {
  position: absolute;
  right: -300px;
  top: 0px;
  width: 300px;
  height: 800px;
  background-image: url('../../img/main/background/right.png');
}